<!-- inicio procura de vagas -->
<div id="top-container" class="container-fluid">
    <h1 id="main-title" class="text-center">
        Encontre o emprego que você necessita!
    </h1>
    <p id="main-subtitle" class="text-center">
        Somos a plataforma para procurar o seu emprego home-office!
    </p>
    <form id="search-form" class="form-inline">
        <div class="form-group col-md-10">
            <input class="form-control" type="text" name="job" id="job"
                placeholder="Digite a vaga que você está buscando!" />
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Procurar</button>
        </div>
    </form>
</div>
<!-- fim procura de vagas -->

<!-- início lista de vagas -->
<main>
    <div id="jobs-container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 id="job-list-title">Veja nossas vagas em destaque!</h2>
                <ul id="job-list" class="list-group">
                    {{#each jobs}}
                    <li class="list-group-item {{#if dataValues.new_job }}new-job{{/if}}">
                        <img src="/img/company.svg" alt="Company" />
                        <p>{{dataValues.company}}</p>
                        <h2>{{dataValues.title}}</h2>
                        <p>{{dataValues.salary}}</p>
                        <span class="new-job-label">Nova</span>
                        <a class="btn btn-primary">Ver vaga</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</main>
<!-- fim lista de vagas -->